There is a basket which contains 10 apples with the following weight for each apple : 
100gr, 200gr, 150gr, 100gr, 120gr, 80gr, 90gr, 160gr, 110gr, 170gr

Mean

Numpy

In [5]:
import numpy as np
apple = [100, 200, 150, 100, 120, 80, 90, 160, 110, 170]
avg_apple = np.mean(apple)
print(avg_apple)

128.0

Native

In [8]:
apple = [100, 200, 150, 100, 120, 80, 90, 160, 110, 170]

total_weight = 0

for i in range(len(apple)):
  total_weight = total_weight + apple[i]

avg_apple = total_weight / len(apple)
print(avg_apple)

128.0

Median

Numpy

In [6]:
import numpy as np
apple = [100, 200, 150, 100, 120, 80, 90, 160, 110, 170]
med_apple = np.median(apple)
apple.sort()
apple_sort = ' '.join(map(str, apple))
print('Sorted apple : {:s}'.format(apple_sort))
print(med_apple)

Sorted apple : 80 90 100 100 110 120 150 160 170 200
115.0

12th High School Student Grade at SMA XYZ -> 70, 80, 70, 70, 90, 100

Mode

In [7]:
from scipy import stats
import statistics as s

score = [70, 80, 70, 70, 90, 100]

mode_score = stats.mode(score)
modus = s.mode(score)
print(modus)
print(mode_score)
print(mode_score.mode)

70
ModeResult(mode=array([70]), count=array([3]))
[70]

Range

In [9]:
import numpy as np

data = [70, 80, 70, 70, 90, 100]
data_max = max(data)
data_min = min(data)
range = data_max - data_min
print(range)

30

Please obtain the Q3 and Q1 values of these dataset

23 25 45 54 55 55 56 59 62 65 85

In [10]:
import numpy as np
import pandas as pd

new_data = np.array([23, 56, 45, 65, 59, 55, 62, 54, 85, 25, 55])
print(pd.DataFrame(new_data).describe())

               0
count  11.000000
mean   53.090909
std    17.466852
min    23.000000
25%    49.500000
50%    55.000000
75%    60.500000
max    85.000000